<p>Air quality data is from <a href="http://berkeleyearth.org/air-pollution-overview/" target="_blank">Berkeley Earth's air quality map</a> and is not available at high resolutions of the map. We refresh the data every 30 minutes and near real-time.</p>

<p>The map shows concentrations of air pollution particulates that are less than 2.5 microns in diameter, which is a primary concern for people's health at high levels. Measurements from thousands of stations around the world are used to interpolate pollution estimates.</p>
