<script>

if (!localStorage.getItem("noBanner") && console && console.log) (function() {
/*

    &&&&&&\ &&&&&&&&\        &&&&&&\ &&\   &&\&&&&&&&\  &&&&&&\ &&\   &&\
    &&  __&&\&&  _____|      &&  __&&\&& |  && &&  __&&\&&  __&&\&&&\  && |
    && /  \__&& |            && /  \__&& |  && && |  && && /  && &&&&\ && |
    \&&&&&&\ &&&&&\          && |     &&&&&&&& &&&&&&&  && |  && && &&\&& |
    \____&&\&&  __|         && |     &&  __&& &&  __&&<&& |  && && \&&&& |
    &&\   && && |            && |  &&\&& |  && && |  && && |  && && |\&&& |
    \&&&&&&  && |            \&&&&&&  && |  && && |  && |&&&&&&  && | \&& |
    \______/\__|             \______/\__|  \__\__|  \__|\______/\__|  \__|
                    

                    ** I N T E R A C T I V E  D E S K **

Hello! Welcome to a SF Chronicle project!

*/
})
.toString()
.replace(/^[\w\W]*\/\*|\n\*\/[\w\W]*$/gm, "")
.split("$")
.forEach(function(line) { console.info(line) });

</script>