<div id="list-of-fires" class="list-of-fires">
  <% json.FireData.forEach(function(c,cIDX){ %>
    <% if (cIDX === 0){ %>
      <div class="fire-block active" id="block<%=cIDX%>">
    <% } else { %>
      <div class="fire-block" id="block<%=cIDX%>">
    <% } %>
      <div class="fire-name"><%=c.FireName%></div>
      <% if (c.Link){ %>
        <div class="story-link"><a href="<%=c.Link%>" target="_blank"><i class="fa fa-external-link"></i><%=c.LinkHed%></a></div>
      <% } %>
      <div class="fire-desc"><%=c.Description%></div>
      <div class="fire-acreage"><span class="fire-info-type">Acreage:</span><%=c.Acreage%></div>
      <div class="fire-containment"><span class="fire-info-type">Containment:</span><%=c.Containment %></div>
      <% if (c.Injuries){ %>
        <div class="fire-damage"><span class="fire-info-type">Injuries:</span><%=c.Injuries%></div>
      <% } %>
      <% if (c.Damage){ %>
        <div class="fire-damage"><span class="fire-info-type">Damage:</span><%=c.Damage%></div>
      <% } %>
      <div class="fire-damage"><span class="fire-info-type">Fire began:</span><%=c.StartDate%></div>
      <div class="fire-datasource"><span class="fire-info-type">Source:</span><a href="<%=c.Source%>" target="_blank"><%=c.Agency%></a></div>
    </div>
  <% }); %>
</div>
