@font-face{
  font-family:"Lora";
  font-weight: normal;
  font-style: normal;
  src:url("https://www.sfchronicle.com/css/ferd/hdn/fonts/lora/lora-v12-latin-regular.woff2");
}

@font-face{
  font-family:"Source Sans Pro";
  font-weight: normal;
  font-style: normal;
  src:url("https://www.sfchronicle.com/css/ferd/hdn/fonts/sourcesans/source-sans-pro-v11-latin-regular.woff2");
}
@font-face{
  font-family:"Source Sans Pro 300";
  font-weight: 300;
  font-style: normal;
  src:url("https://www.sfchronicle.com/css/ferd/hdn/fonts/sourcesans/source-sans-pro-v11-latin-300.woff2");
}@font-face{
  font-family:"Source Sans Pro 600";
  font-weight: 600;
  font-style: normal;
  src:url("https://www.sfchronicle.com/css/ferd/hdn/fonts/sourcesans/source-sans-pro-v11-latin-600.woff2");
}@font-face{
  font-family:"Source Sans Pro 700";
  font-weight: 700;
  font-style: normal;
  src:url("https://www.sfchronicle.com/css/ferd/hdn/fonts/sourcesans/source-sans-pro-v11-latin-700.woff2");
}