body {
  pointer-events: all;
}

.mobile-navigation {
  display: none;
  @media @mobile {
    display: block;
  }
}

.external-link-container {
  font-family: @bold-graphics;
  font-weight: 700;
  padding-top: 5px;
  text-align: center;
  line-height: 1;
  .external-link {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    .fa {
      padding-right: 5px;
    }
  }
}

#map-expand {
  position: fixed;
  bottom: 50%;
  right: 0;
  background: rgba(255,255,255,0.7);
  padding: 0 10px;
  font-size: 25px;
  margin-bottom: 16px;
  border: 1px solid @black;
  display: none;
  pointer: cursor;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  @media @phone-horiz {
    display: block;
  }
  &.big-leaflet-map{
    @media @phone-horiz {
      bottom: 0;
    }
  }
}

#fullwidth-social{
  width:100%;
  text-align:center;

  .social{
    display:inline-block;
    padding:0 5px;

    @media @mobile{
      font-size: 17px;
    }
  }
}

#map-leaflet {
 height: calc(~"100% - 73px");
 width: 100%;
 overflow: hidden;
 position: fixed;
 left: 0;
 top: 73px;
 z-index: 0;
 @media @phone-horiz {
   height: calc(~"50% - 37px");
 }
 &.big-leaflet-map {
   @media @phone-horiz{
     height: calc(~"100% - 37px");
   }
 }
 @media (max-width: 670px){
  top: 37px;
 }
}

.leaflet-layer {
  z-index: 100 !important;
}

.list-of-fires {
  margin-top: 20px;
}

.instructions {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 1.2;
  // text-align: center;
  .fa {
    padding-right: 5px;
  }
}

.map-overlay {
  font-family: @med-graphics;
  z-index: 1000;
  background: white;
  border: 1px solid @black;
  position: fixed;
  top: 90px;
  left: 20px;
  bottom: 20px;
  overflow-y: scroll;
  width: 40%;
  max-width: 600px;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  @media @tablet {
    width: 50%;
    max-width: 50%;
  }
  @media @phone-horiz {
    top: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 100%;
  }
  &.big-leaflet-map {
    @media @phone-horiz{
      top: 100%;
    }
  }
}

.fire-block {
  &:hover {
    background: lighten(@light-gray,5%);
  }
}

.fire-block {
  .fire-name {
    padding: 20px;
  }
  .fire-block-body {
    visibility: hidden;
    height: 0;
    &.active {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      visibility: visible;
      height: auto;
    }
  }
}

.leaflet-popup-content {
  padding: 20px;
}

.fire-block, .leaflet-popup-content {
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  border-top: 1px solid lighten(@light-gray,10%);
  &.active {
    background: lighten(@light-gray,10%);
  }
  .story-link {
    padding-top: 5px;
    .fa {
      font-size: 12px;
      padding-right: 5px;
    }
  }
  .fire-name {
    font-size: 18px;
    font-weight: 700;
    img {
      vertical-align: text-bottom;
      margin-right: 5px;
    }
    .fa {
      float: right;
      font-size: 30px;
    }
  }
  .fire-desc {
    padding: 5px 0;
  }
  .fire-info-type {
    padding-right: 5px;
    font-family: @block-graphics;
    font-weight: 700;
  }
}

.leaflet-popup-content {
  font-size: 14px;
  .fire-name {
    font-size: 16px;
  }
  font-family: @med-graphics;
  border-top: 0;
  padding: 10px;
}

.dotsSVG {
  z-index: 1000 !important;
}

.dot {
  z-index: 1000;
}

.air-legend-container {
  position: fixed;
  background: rgba(255,255,255,0.5);
  padding: 5px 10px;
  bottom: 30px;
  right: 120px;
  font-size: 11px;
  font-family: @block-graphics;
  text-align: center;
  margin: auto;
  display: none;
  &.active {
    display: block;
  }
  .swath {
    vertical-align: middle;
  }
  .swath  {
    height: 16px;
    width: 10px;
    display: inline-block;
    font-size: 0;
    margin-right: -4px;
    @media @mobile {
      width: 7px;
    }
    @media @mini-mobile {
      width: 3px;
    }
  }
  .swath-text {
    display: inline-block;
    font-size: 12px;
    // margin-top: -4px;
    &.left {
      padding-right: 10px;
      @media @mobile {
        padding-right: 5px;
      }
    }
    &.right {
      padding-left: 10px;
      @media @mobile {
        padding-left: 5px;
      }
    }
  }
  .red-swath0 {background: darken(#D77092,20%);}
  .red-swath1 {background: darken(#D77092,10%);}
  .red-swath2 {background: #D77092;}
  .red-swath3 {background: lighten(#D77092,10%);}
  .red-swath4 {background: #F2DF8A;}
  .blue-swath0 {background: darken(#65A775,20%);}
  .blue-swath1 {background: darken(#65A775,10%);}
  .blue-swath2 {background: #65A775;}
  .blue-swath3 {background: lighten(#65A775,10%);}
  .blue-swath4 {background: #D8C77B;}
  @media @map-width {
    position: absolute;
    z-index: 3000;
    top: 20px;
    bottom: auto;
    right: 20px;
  }
}

.deck {
  font-size: 18px;
  line-height: 1.2;
  padding: 10px 20px 10px 20px;
}

.button-container, .legend-container {
  text-align: center;
  font-family: @bold-graphics;
  font-weight: 700;
  font-size: 15px;
  padding: 0 20px 10px 20px;;
  .button {
    display: inline-block;
    padding: 2px 10px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .area-icon, .circle-icon, .day-icon {
    display: inline-block;
    margin-bottom: -5px;
  }
  .circle-icon {
    height: 15px;
    width: 15px;
    background: rgba(140,0,0,0.2);
    border-radius: 20px;
    border: 2px solid #8C0000;
    margin-bottom: -2px;
  }
  .monthname {
    margin-right: 5px;
  }
  .day {
    border: 2px solid @day;
    border-radius: 5px;
    color: @day;
    padding: 2px 5px;
    margin: 2px;
    &.active {
      background: lighten(@day,5%);
      color: white;
    }
  }
  .day-icon {
    border: 2px solid @day;
    height: 15px;
    width: 15px;
    margin-bottom: -2px;
    background-color: lighten(@day,40%);
    border-radius: 20px;
  }

  .now-icon {
    border: 3px solid @now;
    background-color: lighten(@now,20%);
  }
  .now {
    border: 2px solid @now;
    border-radius: 5px;
    color: @now;
    margin-right: 5px;
    &.active {
      background: lighten(@now,15%);
      color: white;
    }
  }
  #airquality {
    border: 2px solid @airquality;
    border-radius: 5px;
    color: @airquality;
    margin-top: 0;
    &.active {
      background: @airquality;
      color: white;
    }
  }
}

.popup {
  color: @dark-gray;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
  .fa {
    padding-right: 5px;
  }
}

.banner-logo {
  max-width: 170px;
  margin: auto;
  margin-top: 10px;
  img {
    width: 100%;
  }
}

.timestamp {
  font-style: italic;
  color: @dark-gray;
  font-size: 14px;
  padding: 0 20px 15px 20px;
  line-height: 1.2;
  text-align: center;
  &:empty {
    padding: 0;
  }
}

.overlay-aboutthedata {
  background: rgba(178, 178, 178, 0.4);
  width: 100%;
  height: 100%;
  top:0;
  position: fixed;
  z-index: 1999;
  display: none;
  &.active {
    display: block;
  }
}

.aboutdata {
  &.hide {
    display: none;
  }
}

#aboutthedata-box {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  bottom: 12%;
  overflow-y: scroll;
  text-align: left;
  background: white;
  padding: 20px;
  border: 1px solid @dark-gray;
  z-index: 2000;
  margin:auto;
  max-width: 600px;
  line-height: 1.4;
  font-size: 16px;
  font-family: @med-graphics;
  @media @mobile {
    left: 10px;
    right: 10px;
  }
  .source {
    padding-bottom: 10px;
  }
  display: none;
  &.active {
    display: block;
  }
  .close-button {
    width: 100%;
    height: 20px;
    cursor: pointer;
  }
  .fa-times {
    float: right;
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.credit-container, .info-container {
  border-top: 1px solid @light-gray;
  padding: 30px 20px;
  font-size: 15px;
  line-height: 1.2;
  .entry {
    padding-top: 10px;
    font-family: @block-graphics;
  }
  .credit-hed {
    padding-bottom: 10px;
    font-weight: 700;
  }
  .credit-title {
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 400;
  }
}

.info-container {
  text-align: left;
  font-style: italic;
  font-weight: 400;
  .credit-hed {
    padding-right: 5px;
    font-weight: 700;
  }
}
.credit-container {
  text-align: center;
  padding-bottom: 50px;
  .entry {
    font-weight: 700;
    font-family: @block-graphics;
  }
}

.email-prompt {
  text-align: center;
  a {
    font-weight: 700;
  }
}

#calendar {
  overflow-x: scroll;
  direction: rtl;
}

.daybox {
  stroke: @day;
  stroke-width: 3px;
  fill-opacity: 0.6;
  fill: white;
  pointer-events: all;
  &.active {
    fill: @day;
  }
  &.nodatabox {
    stroke: @light-gray;
    fill: @light-gray;
  }
  &.nowbox {
    stroke: @now;
    fill-opacity: 0.7;
    fill: white;
    &.active {
      fill-opacity: 1;
      fill: @highlight;
    }
  }
}

.textclass{
  pointer-events: none;
  fill: white;
  &.clickable {
    fill: #333;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

#calendar {
  margin: 10px auto;
//   padding-top: 10px;
//   border-bottom: 1px solid @light-gray;
//   border-top: 1px solid @light-gray;
}

#calendar-toggle {
  line-height: 1.2;
  padding-bottom: 10px;
  font-family: @block-graphics;
  text-decoration: underline;
  .fa {
    font-size: 20px;
    padding-right: 3px;
  }
  &:hover {
    font-family: @bold-graphics;
    font-weight: 800;
    cursor: pointer;
  }
}

.calendar-instructions {
  padding-top: 5px;
  font-style: italic;
  line-height: 1.2;
}

.calendar-hidden {
  display:none;
}

.fire-name-image {
  padding-right: 5px;
  vertical-align: sub;
}

.inline-legend {
  display: inline-block;
  padding: 0 5px;
  .legend-text {
    padding-left: 3px;
    vertical-align: super;
    display: inline-block;
  }
}

.leaflet-popup-close-button {
  @media @mobile {
    font-size: 30px !important;
    width: 25px !important;
    padding: 8px 4px 0 0 !important;
  }
}
