<%= t.include("partials/_head.html") %>

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<%= t.include("partials/_recirc.html") %>
<%= t.include("partials/_nav.html") %>


<div id="map-leaflet"></div>
<div id="map-expand"><i class="fa fa-expand"></i></div>

<div id="map-overlay" class="map-overlay">
  <div class="expand-sidebar"><i class="fa fa-compress" aria-hidden="true"></i></div>
  <div class="banner-logo">
    <a href="https://www.sfchronicle.com" target="_blank">
        <img src="https://projects.sfchronicle.com/shared/logos/sfc_logo_black.png"></img>
    </a>
  </div>
  <div class="title">California Fire Tracker</div>
  <%= t.include("partials/_fullwidthmap-social.html") %>
  <div class="external-link-container">
    <div class="external-link label">Links:</div>
    <div class="external-link"><a href="https://www.sfchronicle.com/california-wildfires-2018/" target="_blank">Full fire coverage</a></div>
    <div class="external-link"><a href="https://link.sfchronicle.com/join/signup" target="_blank">Newsletter signup</a></div>
  </div>
  <div class="timestamp top">Last updated: <span id="spreadsheetUpdate"></span></div>
  <div class="deck">This interactive map developed in The San Francisco Chronicle newsroom provides information on wildfires burning across California.
    <div class="instructions"><i class="fa fa-hand-o-right"></i>Click on the fire listings below to find them on the map, and zoom in to see details.</div>
  </div>


  <div class="legend-container">
    <div class="legend-element inline-legend"><img class="legend-img" src="./assets/graphics/fireicon_burning_GR.png"></img><div class="legend-text">Ongoing fire origin</div></div>
    <div class="legend-element inline-legend"><img class="legend-img" src="./assets/graphics/fireicon_contained_GR.png"></img><div class="legend-text">Contained fire origin</div></div>
  </div>

  <div class="button-container">
   
    <div id="calendar" style="display:none;"></div>
    <div class="legend-container">
      <div class="legend-element" ><div class="day-icon now-icon"></div> Current fire perimeter</div>
      <div class="legend-element" ><div class="day-icon "></div> Previous fire perimeters</div>
    </div>
    <div class="popup" id="popup-nasa-explanation"><i class="fa fa-hand-o-right"></i>What are the fire perimeters?</div>
  </div>

  <div class="legend-container">
    <div class="legend-element"><div class="circle-icon"></div> Current hot spot</div>
    <div class="popup" id="popup-noaa-explanation"><i class="fa fa-hand-o-right"></i>What is a current hot spot?</div>
  </div>
  <div class="timestamp">Fire hot spots updated on <span id="updateID"></span></div>

  <div class="button-container">
    <div class="button" id="airquality">See up-to-date air quality</div>
    <div class="popup" id="popup-airquality-explanation"><i class="fa fa-hand-o-right"></i>What is air quality data?</div>
  </div>

  <div id="list-of-fires" class="list-of-fires"></div>

  <div class="info-container">
    <div class="entry"><span class="credit-hed">Methodology:</span>Fires are labeled when they are larger than 500 acres, cause damage to property, or when people are injured or killed as a result of the fire. Fire labels were last updated at <span id="spreadsheetUpdate"></span>.</div>
  </div>

  <div class="email-prompt info-container">
    Questions? Feedback? <a href="mailto:data@sfchronicle.com">Email the Chronicle's data team.</a>
  </div>

  <div class="credit-container"><div class="credit-hed">Credits</div>
    <div class="entry"><div class="credit-title">Interactive Developer</div>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
    </div>
    <div class="entry"><div class="credit-title">Data Developer</div>Clint Wirtanen  &bull; <a href="mailto:cwirtanen@sfchronicle.com">cwirtanen@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/ClintWirtanen" target="_blank">@ClintWirtanen</a>
    </div>
    <div class="entry"><div class="credit-title">Researcher</div>Audrey DeBruine  &bull; <a href="mailto:audrey.debruine@sfchronicle.com@sfchronicle.com">audrey.debruine@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/acdebruine" target="_blank">@acdebruine</a>
    </div>
    <div class="entry"><div class="credit-title">Executive Producer</div>Tim O'Rourke  &bull; <a href="mailto:torourke@sfchronicle.com">torourke@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/TimothyORourke" target="_blank">@TimothyORourke</a>
    <div class="entry"><div class="credit-title">Graphic Illustrator</div>John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a>
    <div class="entry"><div class="credit-title">Developer</div>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
    </div>
  </div>

  </div>

</div>

<div class="air-legend-container" id="airquallegend">
  <div class="swath-text left">Good</div>
  <div class="swath swath14"></div>
  <div class="swath swath13"></div>
  <div class="swath swath12"></div>
  <div class="swath swath11"></div>
  <div class="swath swath10"></div>
  <div class="swath swath9"></div>
  <div class="swath swath8"></div>
  <div class="swath swath7"></div>
  <div class="swath swath6"></div>
  <div class="swath swath5"></div>
  <div class="swath swath4"></div>
  <div class="swath swath3"></div>
  <div class="swath swath2"></div>
  <div class="swath swath1"></div>
  <div class="swath swath0"></div>
  <div class="swath-text right">Hazardous</div>
</div>

<div class="overlay-aboutthedata" id="aboutthedata-overlay">
  <div class="aboutthedata-box" id="aboutthedata-box">
    <div class="close-button" id="close-data-box"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div id="about-airquality" class="aboutdata hide"><%=t.include("partials/_about_berkeleyair.html") %></div>
    <div id="about-nasa" class="aboutdata hide"><%=t.include("partials/_about_nasa.html") %></div>
    <div id="about-noaa" class="aboutdata hide"><%=t.include("partials/_about_noaa.html") %></div>
  </div>
</div>

<script src="app.js" async></script>

</body>
</html>
